{% extends "forthewing/base.html" %}
{% load url from future %}
{% load i18n static %}


{% block page_title %}{% if chickenwings.id %}{% trans 'Update chicken wings' %} #{{ chickenwings.id }}{% else %}{% trans 'Create chicken wings' %}{% endif %}{% endblock %}


{% block extra_head %}

  <link href="{{ STATIC_URL }}multiselect-0.9.10/css/multi-select.css" media="screen" rel="stylesheet" type="text/css">

{% endblock %}


{% block breadcrumbs %}

<ol class="breadcrumb">
  <li><a href="{% url 'home' %}">{% trans 'Home' %}</a></li>
  <li><a href="{% url 'ftw:list' %}">{% trans 'Chicken wings list' %}</a></li>
  {% if chickenwings.id %}
  <li class="active">{% trans 'Update chicken wings' %} #{{ chickenwings.id }}</li>
  {% else %}
  <li class="active">{% trans 'Create chicken wings' %}</li>
  {% endif %}
</ol>

{% endblock %}


{% block content %}

  {% if chickenwings.id %}
  <h1>{% trans 'Update chicken wings' %} #{{ chickenwings.id }}</h1>
  {% else %}
  <h1>{% trans 'Create chicken wings' %}</h1>
  {% endif %}


  <form action="{% if chickenwings.id %}{% url 'ftw:update' pk=chickenwings.id %}{% else %}{% url 'ftw:create' %}{% endif %}" method="post" accept-charset="utf-8" class="form-horizontal" role="form">
    {% csrf_token %}

    
    {% if form.errors and form.flavour.errors %}
    <div class="form-group has-error">
      <label for="id_flavour" class="col-sm-2 control-label">{% trans 'Flavour' %}</label>
      <div class="col-sm-10">
        {{ form.flavour }}
        {% for error in form.flavour.errors %}
        <span class="help-block">{{ error }}</span>
        {% endfor %}
      </div>
    </div>
    {% else %}
    <div class="form-group">
      <label for="id_toppings" class="col-sm-2 control-label">{% trans 'Flavour' %}</label>
      <div class="col-sm-10">
        {{ form.flavour }}
      </div>
    </div>
    {% endif %}

    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-success btn-lg">{% if chickenwings.id %}{% trans 'Update' %}{% else %}{% trans 'Create' %}{% endif %}</button>
      </div>
    </div>

  </form>


{% endblock %}


{% block scripts_end %}

<script src="{{ STATIC_URL }}multiselect-0.9.10/js/jquery.multi-select.js" type="text/javascript"></script>

<script type="text/javascript" charset="utf-8">

  $(document).ready(function(){
    $('.select-multiple-field').multiSelect();
  });

</script>

{% endblock %}