{% extends "forthewing/base.html" %}
{% load url from future %}
{% load i18n static %}


{% block page_title %}{% trans 'Confirm delete' %}{% endblock %}


{% block breadcrumbs %}

<ol class="breadcrumb">
  <li><a href="{% url 'home' %}">{% trans 'Home' %}</a></li>
  <li><a href="{% url 'ftw:list' %}">{% trans 'Chicken wings list' %}</a></li>
  <li><a href="{% url 'ftw:detail' pk=chickenwings.id %}">{% trans 'Chicken wings order' %} #{{ chickenwings.pk }}</a></li>
  <li class="active">{% trans 'Confirm delete' %}</li>
</ol>

{% endblock %}


{% block content %}

  <h1>{% trans 'Delete chicken wings order' %} #{{ chickenwings.id }}</h1>

  <p class="lead">{% trans 'Your order will be deleted' %}</p>

  <form action="{% url 'ftw:delete' pk=chickenwings.id %}" method="post">
    {% csrf_token %}
    <button type="submit" class="btn btn-danger btn-lg">{% trans 'Delete this order' %}</button>
  </form>

{% endblock %}
