{% extends "forthewing/base.html" %}
{% load url from future %}
{% load i18n static %}
{% load chickenwings_tags %}


{% block page_title %}{% trans 'Chicken wings' %}{% endblock %}


{% block breadcrumbs %}

<ol class="breadcrumb">
  <li><a href="{% url 'home' %}">{% trans 'Home' %}</a></li>
  <li class="active">{% trans 'Chicken wings list' %}</li>
</ol>

{% endblock %}


{% block content %}

  <h1>{% trans 'Chicken wings orders' %}</h1>

  <p>{% trans 'This app demonstrates a widget that renders select optgroup tags and a field that allows blank choices.' %}</p>

  {% if chickenwings %}
  <ul>
    {% for order in chickenwings %}
    <li><a href="{% url 'ftw:detail' order.pk %}">{% trans 'Chicken wings order' %} #{{ order.pk }}</a>: {{ order.flavour|decode_order }}</li>
    {% endfor %}
  </ul>
  {% else %}
  <p>{% trans 'No chicken wings found' %}</p>
  {% endif %}

  {% if is_paginated %}
  <div class="well">
    <ul class="pagination">
      {% if page_obj.has_previous %}
      <li><a href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
      {% else %}
      <li class="disabled"><a href="#">&laquo;</a></li>
      {% endif %}
      {% for p in page_obj.paginator.page_range %}
          {% ifequal p page_obj.number %}
            <li class="active"><a href="?page={{ p }}">{{ p }}</a></li>
          {% else %}
            <li><a href="?page={{ p }}">{{ p }}</a></li>
          {% endifequal %}
      {% empty %}
        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
      {% endfor %}
      {% if page_obj.has_next %}
      <li><a href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
      {% else %}
      <li class="disabled"><a href="#">&raquo;</a></li>
      {% endif %}
    </ul>
  </div>
  {% else %}
  <!--               -->
  <!-- Not paginated -->
  <!--               -->
  {% endif %}


  <a href="{% url 'ftw:create' %}" class="btn btn-primary btn-lg">{% trans 'Create an order for chicken wings' %}</a>

{% endblock %}
