{% extends "forthewing/base.html" %}
{% load url from future %}
{% load i18n static %}
{% load chickenwings_tags %}


{% block page_title %}{% trans 'Chicken wings order' %} #{{ chickenwings.id }}{% endblock %}


{% block breadcrumbs %}

<ol class="breadcrumb">
  <li><a href="{% url 'home' %}">{% trans 'Home' %}</a></li>
  <li><a href="{% url 'ftw:list' %}">{% trans 'Chicken wings list' %}</a></li>
  <li class="active">{% trans 'Chicken wings order' %} #{{ chickenwings.id }}</li>
</ol>

{% endblock %}


{% block content %}

  <h1>{% trans 'Chicken wings order' %} #{{ chickenwings.id }}</h1>

  <p class="lead">{% trans 'The chicken wings have been flavoured with the following sauces.' %}</p>

  <ul>
    {% for flavour in chickenwings.flavour %}
    <li>{{ flavour|decode_flavour }}</li>
    {% empty %}
    <li>{% trans 'No sauce! Whaaa?' %}
    {% endfor %}
  </ul>

  <div class="btn-group">
    <a href="{% url 'ftw:list' %}" class="btn btn-default">&lt;&nbsp;{% trans 'Back to order list' %}</a>
    <a href="{% url 'ftw:update' pk=chickenwings.id %}" class="btn btn-default">{% trans 'Update' %}</a>
    <a href="{% url 'ftw:delete' pk=chickenwings.id %}" class="btn btn-danger">{% trans 'Delete' %}</a>
  </div>

{% endblock %}