{% extends "forthewing/base.html" %}
{% load url from future %}
{% load i18n static %}


{% block page_title %}{% trans 'Chicken wings order updated' %}{% endblock %}


{% block breadcrumbs %}

<ol class="breadcrumb">
  <li><a href="{% url 'home' %}">{% trans 'Home' %}</a></li>
  <li><a href="{% url 'ftw:list' %}">{% trans 'Chicken wings list' %}</a></li>
  <li class="active">{% trans 'Chicken wings order updated' %}</li>
</ol>

{% endblock %}


{% block content %}

  <h1>{% trans 'Chicken wings order updated' %}</h1>


  <p class="lead">{% trans 'Your order was updated' %}</p>

  <a href="{% url 'ftw:list' %}" class="btn btn-primary btn-lg">{% trans 'View orders' %}</a>

{% endblock %}