{% extends "theme/html5.html" %}
{% load url from future %}
{% load i18n static %}


{% block html_tag_replacement %}
<!--[if IE 8]>         <html class="no-js lt-ie9" lang="{{ LANGUAGE_CODE }}" > <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="{{ LANGUAGE_CODE }}" >    <!--<![endif]-->
{% endblock %}


{% block base_head %}
  <meta charset="utf-8">
  <title>{% block title %}{% block page_title %}{% endblock %}{% block sitename %} - {% trans 'SelectMultiple Field' %}{% endblock %}{% endblock %}</title>
  {% block head %}
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">

  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">

  <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">

  <link href="{{ STATIC_URL }}css/app.css" rel="stylesheet">

  {% endblock %}
  {% block extra_head %}{% endblock %}
{% endblock %}


{% block base_body %}

  <div class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">{% trans 'Toggle navigation' %}</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="{% url 'home' %}">{% trans 'SelectMultiple demo' %}</a>
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li class="active"><a href="{% url 'home' %}">{% trans 'Home' %}</a></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">{% trans 'Project' %} <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="https://github.com/kelvinwong-ca/django-select-multiple-field">{% trans 'Github repo' %}</a></li>
              <li><a href="http://www.kelvinwong.ca/coders">{% trans 'Contact Kelvin' %}</a></li>
            </ul>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">{% trans 'Demos' %} <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li class="dropdown-header">{% trans 'SelectMultiple Field demos' %}</li>
              <li><a href="{% url 'pizza:list' %}">{% trans 'Pizza shoppe app using SelectMultiple field and jQuery' %}</a></li>
            </ul>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">{% trans 'Language' %} <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li class="dropdown-header">{% trans 'Languages' %}</li>
              {% for lang in LANGUAGES %}
              <li>
                <form name="setLang{{ lang.1 }}" action="{% url 'django.views.i18n.set_language' %}" method="post">{% csrf_token %}
                  <input name="next" type="hidden" value="" />
                  <input type="hidden" name="language" value="{{ lang.0 }}" />
                  <a href="#" onclick="document.setLang{{ lang.1  }}.submit(); return false;">{{ lang.1 }}</a>
                </form>
              </li>
              {% endfor %}
            </ul>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-cog"></span> <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li class="dropdown-header">{% trans 'Application settings' %}</li>
              <li><a href="{% url 'admin:index' %}">{% trans 'Django admin' %}</a></li>
            </ul>
          </li>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </div>


<div class="container"><!-- BEGIN Container -->


  {% block messaging %}
  {% if messages %}
  
  <div class="row space-svp">
    <div class="col-xs-12">
    {% for message in messages %}

      {% if message.tags %}
      <div class="alert alert-{{ message.tags }}">
        {% if 'safe' in message.tags %}{{ message|safe }}{% else %}{{ message }}{% endif %}
      </div>
      {% else %}
      <div class="alert alert-info">
        {{ message }}
      </div>
      {% endif %}

    {% endfor %}
    </div>
  {% endif %}
  {% block messaging_extra %}{% endblock %}
  {% endblock %}

  {% block breadcrumbs %}
  <ol class="breadcrumb">
    <li class="active">{% trans 'Home' %}</li>
  </ol>
  {% endblock %}

  {% block body %}{% endblock %}


</div><!-- END Container -->


  <!--                -->
  <!-- BEGIN  Scripts -->
  <!--                -->


  <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>

  <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>

  {% block scripts_end %}{% endblock %}

  <!--                -->
  <!-- END    Scripts -->
  <!--                -->
{% endblock %}