{% extends "pizzagigi/base.html" %}
{% load url from future %}
{% load i18n static %}
{% load pizza_tags %}


{% block page_title %}{% trans 'Pizzas' %}{% endblock %}


{% block content %}

  <h1>{% trans 'Pizzas' %}</h1>

  {% if pizzas %}
  <ul>
    {% for pizza in pizzas %}
    <li><a href="{% url 'pizza:detail' pizza.pk %}">{% trans 'Pizza' %} #{{ pizza.pk }}</a>: {{ pizza.toppings|decode_pie }}</li>
    {% endfor %}
  </ul>
  {% else %}
  <p>{% trans 'No pizzas found' %}</p>
  {% endif %}

  {% if is_paginated %}
  <div class="well">
    <ul class="pagination">
      {% if page_obj.has_previous %}
      <li><a href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
      {% else %}
      <li class="disabled"><a href="#">&laquo;</a></li>
      {% endif %}
      {% for p in page_obj.paginator.page_range %}
          {% ifequal p page_obj.number %}
            <li class="active"><a href="?page={{ p }}">{{ p }}</a></li>
          {% else %}
            <li><a href="?page={{ p }}">{{ p }}</a></li>
          {% endifequal %}
      {% empty %}
        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
      {% endfor %}
      {% if page_obj.has_next %}
      <li><a href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
      {% else %}
      <li class="disabled"><a href="#">&raquo;</a></li>
      {% endif %}
    </ul>
  </div>
  {% else %}
  <!--               -->
  <!-- Not paginated -->
  <!--               -->
  {% endif %}


  <a href="{% url 'pizza:create' %}" class="btn btn-primary btn-lg">{% trans 'Create a pizza' %}</a>

{% endblock %}
