{% extends "pizzagigi/base.html" %}
{% load url from future %}
{% load i18n static %}


{% block page_title %}{% trans 'Pizza order' %}{% endblock %}


{% block extra_head %}

  <link href="{{ STATIC_URL }}multiselect-0.9.10/css/multi-select.css" media="screen" rel="stylesheet" type="text/css">

{% endblock %}


{% block breadcrumbs %}

<ol class="breadcrumb">
  <li><a href="{% url 'home' %}">{% trans 'Home' %}</a></li>
  <li><a href="{% url 'pizza:list' %}">{% trans 'Pizza list' %}</a></li>
  {% if pizza.id %}
  <li class="active">{% trans 'Update pizza' %} #{{ pizza.id }}</li>
  {% else %}
  <li class="active">{% trans 'Create a pizza' %}</li>
  {% endif %}
</ol>

{% endblock %}


{% block content %}

  {% if pizza.id %}
  <h1>{% trans 'Update pizza' %} #{{ pizza.id }}</h1>
  {% else %}
  <h1>{% trans 'Create a pizza' %}</h1>
  {% endif %}


  <form action="{% if pizza.id %}{% url 'pizza:update' pk=pizza.id %}{% else %}{% url 'pizza:create' %}{% endif %}" method="post" accept-charset="utf-8" class="form-horizontal" role="form">
    {% csrf_token %}

    
    {% if form.errors and form.toppings.errors %}
    <div class="form-group has-error">
      <label for="id_toppings" class="col-sm-2 control-label">{% trans 'Toppings' %}</label>
      <div class="col-sm-10">
        {{ form.toppings }}
        {% for error in form.toppings.errors %}
        <span class="help-block">{{ error }}</span>
        {% endfor %}
      </div>
    </div>
    {% else %}
    <div class="form-group">
      <label for="id_toppings" class="col-sm-2 control-label">{% trans 'Toppings' %}</label>
      <div class="col-sm-10">
        {{ form.toppings }}
      </div>
    </div>
    {% endif %}

    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-success btn-lg">{% if pizza.id %}{% trans 'Update' %}{% else %}{% trans 'Create' %}{% endif %}</button>
      </div>
    </div>

  </form>


{% endblock %}


{% block scripts_end %}

<script src="{{ STATIC_URL }}multiselect-0.9.10/js/jquery.multi-select.js" type="text/javascript"></script>

<script type="text/javascript" charset="utf-8">

  $(document).ready(function(){
    $('#id_toppings').multiSelect();
  });

</script>

{% endblock %}