{% extends "pizzagigi/base.html" %}
{% load url from future %}
{% load i18n static %}


{% block page_title %}{% trans 'Pizza updated' %}{% endblock %}


{% block breadcrumbs %}

<ol class="breadcrumb">
  <li><a href="{% url 'home' %}">{% trans 'Home' %}</a></li>
  <li><a href="{% url 'pizza:list' %}">{% trans 'Pizza list' %}</a></li>
  <li class="active">{% trans 'Pizza updated' %}</li>
</ol>

{% endblock %}


{% block content %}

  <h1>{% trans 'Pizza updated' %}</h1>


  <p class="lead">{% trans 'Your pizza was updated' %}</p>

  <a href="{% url 'pizza:list' %}" class="btn btn-primary btn-lg">{% trans 'View pizzas' %}</a>

{% endblock %}