{% extends "pizzagigi/base.html" %}
{% load url from future %}
{% load i18n static %}
{% load pizza_tags %}


{% block page_title %}{% trans 'Pizza' %} #{{ pizza.id }}{% endblock %}


{% block breadcrumbs %}

<ol class="breadcrumb">
  <li><a href="{% url 'home' %}">{% trans 'Home' %}</a></li>
  <li><a href="{% url 'pizza:list' %}">{% trans 'Pizza list' %}</a></li>
  <li class="active">{% trans 'Pizza' %} #{{ pizza.id }}</li>
</ol>

{% endblock %}


{% block content %}

  <h1>{% trans 'Pizza' %} #{{ pizza.id }}</h1>

  <p class="lead">{% trans 'The pizza contains the following yummy ingredients' %}</p>

  <ul>
    {% for topping in pizza.toppings %}
    <li>{{ topping|decode_topping }}</li>
    {% empty %}
    <li>{% trans 'No toppings' %}
    {% endfor %}
  </ul>

  <div class="btn-group">
    <a href="{% url 'pizza:list' %}" class="btn btn-default">&lt;&nbsp;{% trans 'Back to pizza list' %}</a>
    <a href="{% url 'pizza:update' pk=pizza.id %}" class="btn btn-default">{% trans 'Update' %}</a>
    <a href="{% url 'pizza:delete' pk=pizza.id %}" class="btn btn-danger">{% trans 'Delete' %}</a>
  </div>

  

  <p><a href="" class="btn btn-default"></a></p>

{% endblock %}