{% extends "pizzagigi/base.html" %}
{% load url from future %}
{% load i18n static %}


{% block page_title %}{% trans 'Confirm delete' %}{% endblock %}


{% block breadcrumbs %}

<ol class="breadcrumb">
  <li><a href="{% url 'home' %}">{% trans 'Home' %}</a></li>
  <li><a href="{% url 'pizza:list' %}">{% trans 'Pizza list' %}</a></li>
  <li><a href="{% url 'pizza:detail' pk=pizza.id %}">{% trans 'Pizza' %} #{{ pizza.pk }}</a></li>
  <li class="active">{% trans 'Confirm delete' %}</li>
</ol>

{% endblock %}


{% block content %}

  <h1>{% trans 'Delete pizza' %} #{{ pizza.id }}</h1>

  <p class="lead">{% trans 'Your pizza will be deleted' %}</p>

  <form action="{% url 'pizza:delete' pk=pizza.id %}" method="post">
    {% csrf_token %}
    <button type="submit" class="btn btn-danger btn-lg">{% trans 'Delete this pizza' %}</button>
  </form>

{% endblock %}
